h1{
    color:green;

}
/**{
    border:solid ;
}*/
.header{
    background-color: rgb(7, 248, 27);
    display:flex;
    justify-content: space-between;   
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}
.footer{
    display:flex;
    justify-content: flex-end;   
}